<header class="header">
  <nav class="flex flex-jc-sb flex-ai-c">
    <a href="/" class="header__logo">
      <img src="/images/icons/logo.svg" alt="">
    </a>

    <a href="#" class="header__hamburger">
      <span></span>
      <span></span>
      <span></span>
    </a>


    <div class="header__links">
      <a href="">TIENDA</a>
      <a href="">NACIONALES</a>
      <a href="">INTERNACIONALES</a>
      <a href="">VARIEDADES</a>
      <a href="">MARCAS</a>
      <a href="">CONTACTO</a>
    </div>

    <div class="header__button">
      <a href="" class="button" >LOGIN</a>
      <a href="" class="button" >CARRITO</a>
    </div>
  </nav>
</header>