<li>
    <ul><a href="/product-detail" target="_blank">Product Detail</a></ul>
    <ul><a href="/product-cart" target="_blank">Product Cart</a></ul>
    <ul><a href="/register" target="_blank">Register</a></ul>
    <ul><a href="/login" target="_blank">Login</a></ul>
</li>