<form action="/register" method="POST" id="registerForm">
    <div class="form">
        <h1>Registro</h1>
        <div class="group">
            <label for="name"></label>
            <input type="text" name='name' placeholder="Nombre" id='name' required>
        </div>
        <div class="group">
            <label for="email"></label>
            <input type="email" name='email' placeholder="Email" id='email' required>
        </div>
        <div class="group">
            <label for="user"></label>
            <input type="text" name='user' placeholder="Nombre de usuario" id='user' required>
        </div class="group">
            <div>
            <label for="pass"></label>
            <input type="password" name="pass" placeholder="Contraseña" required>
        </div>
        <div class="group">
            <label for="confirm-pass"></label>
            <input type="password" name="confirm-pass" placeholder="Confirmar contraseña" required>
        </div>
        <br>
        <div>
            <input type="checkbox" name="acceptTerms" value="a" id="a">
            <label for="a">Acepto los Términos y Condiciones y la Política de Privacidad</label>
        </div>
        <div>
        <div>
            <button type="submit">Registrarse</button>
        </div>
    </div>
</div>
</form>