<footer>
    {{!--Seccion redes sociales.--}}
    <h3>Síguenos</h3>
    <section class="social">
        <div>
            <i class="fab fa-instagram"></i>
        </div>

        <div>
            <i class="fab fa-twitter"></i>
        </div>
        
        <div>
            <i class="fab fa-facebook-square"></i>
        </div>
        
        <div>
            <i class="fab fa-youtube"></i>
        </div>
    </section>
    
    {{!--Seccion contacto a WSP y Mail.--}}

    <h3>Contacto</h3>
    <section class="contact">
        <div>
            <i class="fab fa-whatsapp"></i>
        </div>
        <div>
            <i class="far fa-envelope"></i>
        </div>
    </section>
    
    {{!--Datos al pie, centrados--}} 
    <div class="">
        <p class="Copyright">Beber con moderación. Prohibida su venta a menores de 18 años.<p>
        <p class="Copyright">2021 @ BohemiaShop<p>
    </div>

    <div class="logo">
        <img src="images/icons/logo2.png" alt="Logo Birra Haus">
    </div>
</footer>

