<header>
    {{!-- Boton hamburgesa --}}
    <div class="burger-menu">
        <img src="/images/icons/Logo2.png"><i fas fa-bars"></i>
    </div>

    {{!--logo--}}
    <div class="top-header">
        <div class="logo">
            <img src="images/icons/logo1.png" alt="Logo Birra Haus">
        </div>

    </div>
    <nav>
        <ul>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Nacionales</a></li>
            <ul class="marcasNacionales">
                <li><a href="#">Antares</a></li>
                <li><a href="#">Beagle</a></li>
                <li><a href="#">Chachingo</a></li>
                <li><a href="#">Pampa</a></li>
                <li><a href="#">Peñon del Águila</a></li>
                <li><a href="#">Rabieta</a></li>
            </ul>
            <li><a href="#">Internacionales</a></li>
            <ul class="marcasInternacionales">
                <li><a href="#">AC/DC</a></li>
                <li><a href="#">Erdinger</a></li>
                <li><a href="#">Weidmann</a></li>
                <li><a href="#">Belirium</a></li>
                <li><a href="#">Oranjeboom</a></li>
                <li><a href="#">Guiness</a></li>
                <li><a href="#">O haras</a></li>
                <li><a href="#">Cucapa</a></li>
                <li><a href="#">Cyprez</a></li>
                <li><a href="#">Fauna</a></li>
                <li><a href="#">Iztapa</a></li>
                <li><a href="#">Libertadores</a></li>
                <li><a href="#">Patito</a></li>
            </ul>
            <ul class="paises">
                <li><a href="#">Alemania</a></li>
                <li><a href="#">Bélgica</a></li>
                <li><a href="#">Paíse Bajos</a></li>
                <li><a href="#">Irlanda</a></li>
                <li><a href="#">México</a></li>
            </ul>
            <li><a href="#">Variedades</a></li>
            <ul>
                <li><a href="#">IPA</a></li>
                <li><a href="#">APA</a></li>
                <li><a href="#">Golden</a></li>
                <li><a href="#">Amber</a></li>
                <li><a href="#">Porter</a></li>
                <li><a href="#">Stout</a></li>
                <li><a href="#">Cream</a></li>
                <li><a href="#">Honey</a></li>
                <li><a href="#">Lager</a></li>
            </ul>
            <li><a href="#">Contacto</a></li>
            <li><a href="/register">Registro</a></li>

            {{!-- Barra de Búsqueda - Darle Estilos!!! --}}
            <div class="form" action="#" method="GET">
                <div class="input">BÚSQUEDA<div class="submit"></div>
                </div><i class="fa fa-search"></i>
            </div>
        </ul>

        {{!-- Botones a la derecha del logo /LogIN - Cart --}}
        <ul>
            <li><a href="/login">LogIn<i class="fas fa-sign-in-alt"></i></a>
            <li><a href="#">Carrito<i class="fas fa-shopping-cart"></i></a>

        </ul>
    </nav>

</header>